* {
    --rq-color: #d9d2e9;
}

.title {
    line-height: 3em;
}

.car-drive {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%) rotate(20deg);
    height: 10%;
}

.shower.full .car-drive {
    animation: drive 10s infinite;
}

@keyframes drive {
    0% {
        bottom: 0;
        right: 0;
    }
    20% {
        bottom: 0;
        right: 0;
    }
    80% {
        bottom: 63%;
        right: 100%;
        opacity: 1;
    }
    80.01% {
        opacity: 0;
    }
    80.02% {
        bottom: -10%;
        right: -20%;
    }
    80.03% {
        opacity: 1;
    }
    100% {
        bottom: 0;
        right: 0;
    }
}